.root {
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-orange;
}


/************************************
* DRAWING PANE
************************************/

.drawing-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
    -fx-background-color: white;
    -fx-background-image: none;
}


/************************************
* CARDS
************************************/

.card {
    /**** for Shapes */
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 20 10;
    -fx-fill: white;

    /**** for Regions */
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: none;

    -fx-background-color: white;
    /* match radius value to that of -fx-border */
    -fx-background-radius: none;

    -fx-padding: 15;
}

.card-content.card-selected {
    /**** for Regions */
    -fx-border-color: black;
    -fx-border-width: 3;
    /**** for Shapes */
    -fx-stroke: black;
    -fx-stroke-width: 3;
}

.card-content {
    /**** for Shapes */
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-fill: white;

    /**** for Regions */
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: none;

    -fx-background-color: white;
    /* match radius value to that of -fx-border */
    -fx-background-radius: none;

    -fx-padding: 25;
}

/* for titled card */
.card-content .label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: none;
}

/************************************
* PINS
************************************/

.pin {
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 1;
    
    -fx-padding: 5;
}

.pin-connector {
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-fill: gray;
}
.pin-connector:hover {
    -fx-background-color: gray;
}

/************************************
* CONNECTORS
************************************/

.connector {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.connector:hover {
    -fx-stroke: gray;
}

.connector.connector-selected {
    -fx-stroke: red;
}

/* specific to BezierConnectorWithArrow */
.connector-arrow-head {
    -fx-stroke: black;
    -fx-stroke-width: 2;
    -fx-fill: gray;
}
