.root {
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-purple;
}

.drawing-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 600;
}

.pin-connector {
    -fx-stroke: derive(-cb-base, -50%);
}

