.root {
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-blue;
}

.drawing-pane {
    -fx-pref-width: 1050;
    -fx-pref-height: 630;
    -fx-background-image: url("bp_graph_bg.png");
}

.rectangle {
    -fx-min-height: 40;
    -fx-min-width: 80;
}

.card-content {
    -fx-padding: 5;
}

.pin-connector:hover {
    -fx-background-color: rgba(255,255,255,0.8);
}

