.root {
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-orange;
}

.drawing-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 600;
}

.card-content {
    -fx-padding: 15;
}

.pin-connector:hover {
    -fx-background-color: rgba(255,255,255,0.2);
}
