.root {
/*
 * orange, purple, green, blue
 */
    -cb-base: -cb-base-color-green;
}

.drawing-pane {
    -fx-pref-width: 600;
    -fx-pref-height: 400;
    -fx-background-image: url("bp_graph_bg.png");
}


.pin-connector:hover {
    -fx-background-color: rgba(255,255,255,0.8);
}

